p {
    text-align: center;
    margin: 0 auto; 
    width: 600px;
    line-height: 2;
}
h1, h2, ul {
    margin: 0 auto;
    text-align: center;
}


h1{
    padding: 10px;
}

h2{
    padding: 20px;
}
.profilepic {
    margin: 0 auto;
    width: 200px;
    align-content: center;
    padding: 20px;

}

.tablesection {
    width:400px;
    margin: 0 auto 50px;
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
}